:host ::ng-deep {
  mat-table{
    box-shadow: none!important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  mat-header-cell {
    color: rgba(127, 127, 127, 1);
  }

  mat-cell {
    font-size: 14px;

    div {
      width: 150px;
      overflow: hidden !important;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      place-content: center;
      align-content: center;
    }
  }


  mat-cell:first-child, mat-header-cell:first-child {
    max-width: 4%;
  }

  mat-cell:last-child{
    max-width: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5rem;
  }

  @media screen and (max-width: 959px){
    .mat-column-tel, .mat-column-email{
      display: none;
    }
  }

}



.content {
  margin: 1rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
h2{
  margin: 0.5rem 0 0.5rem 1rem;
}

.form {
  div {
    display: flex;
    width: 100%;

    ns-input {
      @media screen and (max-width: 599px) {
        flex-basis: calc(100% - 1rem);
      }
    }

    app-select {
      @media screen and (max-width: 599px) {
        flex-basis: calc(100% - 1rem);
      }
    }
  }


}
